
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #222222;
  --first-color-light: #AFA5D9;
  --white-color: #FFFFFF;
  --bg-color: #343434;
  --main-color: #1492E6;
  --red-color: #E61499;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 2rem 1.5rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: var(--bg-color);
  color: var(--white-color);
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: var(--bg-color);
  transition: .5s;
  z-index: var(--z-fixed);
}

.header h3 {
  color: #1492E6;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 1.5rem;
  font-weight: 1000;
}

.header__toggle{
  margin-left: -8px;
  color: var(--main-color);
  font-size: 2rem;
  cursor: pointer;
}

.toggle-mobile {
  position: absolute;
  top: 28%;
  right: 3%;
  padding: 5px 15px;
  color: var(--main-color);
  font-size: 1.8rem;
  cursor: pointer;
}

#cls {
  display: none;
  font-size: 2.1rem;
}

#opn {
  display: block;
}

span.nav__name {
  padding-left: 20px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #222;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
  overflow: hidden;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.chevron-class {
  padding: 5px 15px 18px;
  color: var(--main-color);
  font-size: 2rem;
  cursor: pointer;
}

.gotop {
  z-index: var(--z-fixed);
  position: absolute;
  right: 28%;
  top: 29%;
  font-size: 1.8rem;
  cursor: pointer;
  animation: all 4s ease;
  color: var(--main-color);
}
#go-top {
  display: none;
}

.progress-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72%;
  height: 5px;
  background: var(--bg-color);
  z-index: var(--z-fixed);
}

.progress-bar {
  height: 5px;
  background:var(--main-color);
  width: 0%;
}

/*===== NAV =====*/

.r-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: var(--first-color);
    padding: 3rem 2rem 1rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

.container-berita {
  display: none;
}

.r-sidebar h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
}

.r-sidebar h2 {
  margin-bottom: -10px;
}
.r-sidebar p {
  opacity: 0.7;
}

.tbl-slide {
  width: 100px;
  height: 35px;
  margin-right: 10px;
  background-color: var(--first-color);
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.container-berita img {
  margin-top: 1.5em;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  filter: brightness(70%);
}

.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
}

.nav__logo, .nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 4.5rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav__link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .1s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar mobile*/
.show {
  left: 0;
}

/*Add padding body mobile*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

.sidebar-pd{
  width: 60%;
}

.small-side {
  width: 23%;
}

/*Active links*/
.active{
  color: var(--main-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: var(--main-color);
}

/* header content styles */

.header-text {
  margin-top: 90px;
}

.btn-menu {
    padding:1px;
    background-color: var(--white-color);
    color: black;
}

/* slide-content */

.slide-content {
    background-color: var(--first-color);
    width: 71%;
    height: 20%;
    padding: 0.4rem 1.8rem 1rem;
    border-radius: 1rem;
    margin-bottom: -20px;
}

.container-element {
    display: grid;
    grid-template-columns: auto auto;
}

.l-element {
    display: flex;
    align-items: center;
    height: 45px;
    font-weight: 700;
}

.satu, .dua{
    margin-right: 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
}

.center-icon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.center-icon i {
   margin-right: 10px;
   font-size: 1.5rem;
}

.r-element {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    margin-right: 4%;
}

.r-element h4 {
    margin-right: 1em;
}

.dibuka h4 {
    padding: 10px;
    color: var(--main-color);
}

.cntdown h3 {
  background-color: #000000;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 15px;
}

.line-content h2 {
    overflow: hidden;
    margin-top: 4%;
  }
  
.line-content  h2:before,
  h2:after {
    background-color: var(--first-color);
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
  }
  
.line-content  h2:before {
    right: 1%;
    width: 54%;
  }
  
.line-content  h2:after {
    left: 1%;
    width: 4.4%;
  }


.tag-ide {
    width: 12em;
    padding: 0.6em 1em;
    background-color: var(--first-color);
    border-radius: 6px;
    margin-bottom: 1%;
}

.tag-ide-all {
    width: 12em;
    padding: 0.6em 1em;
    background-color: var(--first-color);
    border-radius: 6px;
    margin-top: 4%;
}

/* ide-content */

.ide-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1rem;
    margin: 0% 0 1%;
    width: 71%;
}

.ide-content-all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 2% 0;
  grid-gap: 1.4rem;
  width: 71%;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.ide-container {
  padding: .2rem 1.1rem 1.4rem;
  border-radius: 10px;
  --borderWidth: 2px;
  background: var(--bg-color);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.ide-container::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(var(--first-color), magenta), linear-gradient(var(--first-color), var(--main-color));
  animation: rotate 4s linear infinite;
}

.ide-container::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background:var(--bg-color);
  border-radius: 5px;
}

.ide-container-biasa {
  padding: .8rem 1.2rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 4px solid var(--first-color);
}

.btn-ide-content {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    height: 40px;
}   

.btn-ide-l {
    position: relative;
    border: 3px solid var(--main-color);
    text-align: center;
    border-radius: 4px;
    position: relative;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.btn-ide-r {
    display: flex;
    justify-content: flex-end;
}

.btn-ide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.ide-icon-up i {
    font-size: 2.2em;
    color: var(--main-color);
    grid-area: up;
}

.ide-icon-down i {
    font-size: 2.2em;
    color: var(--red-color);
    grid-area: down;
}

span.btn-name-up {
  margin-right: 20px;
}



/* ===== MEDIA QUERIES=====*/

@media screen and (max-width: 768px ) {
  .header__toggle-r {
    color: var(--main-color);
  }
  .r-sidebar {
    display: none;
  }

  .slide-content {
    width: 100%;
    padding: 15px;
  }

  .slide-content h1 {
    font-size: 1.5rem;
  }

  .slide-content h3 {
    font-size: 1rem;
    margin-top: -10px;
    font-weight: 600;
    opacity: .8;
  }

  .ide-content, .ide-content-all {
    width: 100%;
  }

  .ide-container::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 210%;
    height: 320%;
    background-color: var(--first-color);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0%;
    background-image: linear-gradient(#222222,var(--main-color));
    animation: rotate 4s linear infinite;
  }

  .r-element {
    justify-content: center;
    margin-right: 1%;
}

  .dibuka h4 {
      padding: 1px;
      color: var(--main-color);
  }

  .cntdown h3 {
    flex-wrap: nowrap;
    margin-top: 15px;
    background-color: #000000;
    padding: 6px;
    border-radius: 6px;
    font-size: 13px;
  }

  .line-content h2 {
    overflow: hidden;
    margin-top: 8%;
    font-size: 1rem;
  }

  .line-content  h2:before,
  h2:after {
    background-color: var(--first-color);
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
  }
  
.line-content  h2:before {
    right: 3%;
    width: 63%;
  }
  
.line-content  h2:after {
    left: 3%;
    width: 10.4%;
  }

  .tag-ide {
    font-size: 1rem;
    margin-bottom: 3%;
}

}

@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    padding-top: 1rem;
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;  
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
  .r-sidebar {
    display: none;
  }

  .slide-content {
    width: 100%;
    padding: 15px;
  }

  .slide-content h1 {
    font-size: 1.5rem;
  }

  .slide-content h3 {
    font-size: 1rem;
    margin-top: -10px;
    font-weight: 600;
    opacity: .8;
  }  
  .ide-content, .ide-content-all {
    width: 100%;
  }

  .ide-container::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: var(--first-color);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100%;
    background-image: linear-gradient(#222222,var(--main-color));
    animation: rotate 6s linear infinite;
  }
}

@media screen and (min-width: 992px){

  .slide-content {
    background-color: var(--first-color);
    width: 98%;
    height: 20%;
    padding: 0.4rem 1.8rem 1rem;
    border-radius: 1rem;
    margin-bottom: -20px;
}

  .r-sidebar {
    display: none;
}

.ide-content, .ide-content-all {
  width: 98%;
}

.container-berita {
  display: none;
}

.r-sidebar h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
}

.r-sidebar h2 {
  margin-bottom: -10px;
}
.r-sidebar p {
  opacity: 0.7;
}

}

@media screen and (min-width: 1200px){
  .r-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: var(--first-color);
    padding: 3rem 2rem 1rem;
    transition: .5s;
    z-index: var(--z-fixed);
    display: block;
  }

  .slide-content {
    background-color: var(--first-color);
    width: 70%;
    height: 20%;
    padding: 0.4rem 1.8rem 1rem;
    border-radius: 1rem;
    margin-bottom: -20px;
  }

  .ide-content, .ide-content-all {
    width: 70%;
  }
}